.row
  .col-sm-1
  .col-sm-10
    %h3 Search results
    %table.table
      %thead
        %tr
          - if user_signed_in?
            %th
          %th Section
          %th Title
          %th
          %th
          %th
      %tbody
        - @articles.order(:sequence).each do |article|
          %tr
            - if user_signed_in?
              %td= best_in_place article, :sequence
            %td= article.section.try(:name)
            %td= article.title
            %td= truncate(sanitize(article.body, :tags=>[]), :length => 150)
            - if user_signed_in?
              %td= link_to 'Edit', edit_article_path(article)
              %td= link_to 'Delete', article, method: :delete, data: { confirm: 'Are you sure?' }
            - else
              %td= link_to "Read more", article_path(article)
    - if user_signed_in?
      %br
        = link_to 'New Article', new_article_path
  .col-sm-1
