= render "layouts/sidebar"
%main.container-fluid
  %img{:src=>@article.random_image, :class => "banner_top"}
  .row
    .guide-topic-content.col-sm-12.col-md-9

      / Main content
      %article.main-content{:role => "main"}

        %header
          %h1.head= @article.title

        %section
          - if current_user
            = best_in_place @article, :body, :as => :textarea, :display_with => :simple_format, :html_attrs => {:cols => 100}
          - else
            = raw @article.body

    .col-md-3
      %hr
      .center= social_share_button_tag(@article.title, :url => request.original_url, :popup => "true")
      - if user_signed_in?
        = link_to "edit", edit_article_path(@article)
      .highlight.basics
        .inner
          %p.uppercase What you’ll learn:
          %ul
            - @article.what_we_learn.each do |learning|
              %li= learning
